@{
    ViewData["Title"] = "Funcan";
}

@section HeadScripts
{
    <script src="~/script/plotly-2.12.1.min.js"></script>
}

@section BodyScripts
{
    <script src="~/script/input-func-draw.js"></script>
    <script src="~/script/hist-script.js"></script>
}

<div class="center">
    <form method="get" asp-controller="Function" asp-action="GetFunction" class="input-form"
        onsubmit="return submitInputFunc(event);">
        <input id="func-input-field" type="text" name="input" placeholder="Enter a math function ..." 
            value="Pow(x,2)" class="input-field input-elem input-elem-trebuchet" autocomplete="off" required />
        <input id="from-input-field" type="number" step="any" name="from" placeholder="From ..." 
            value="-10" class="input-field input-elem input-elem-trebuchet range-field" autocomplete="off" required />
        <input id="to-input-field" type="number" step="any" name="to" placeholder="To ..." 
            value="10" class="input-field input-elem input-elem-trebuchet range-field" autocomplete="off" required />
        <input id="input-submit-button" class="input-button input-elem input-elem-trebuchet" type="submit" value="&#61" />
    </form>
    <div class="analysis-options-container container">
        <label class="container-title">Analysis</label>
        <form id="analysis-options" onsubmit="return false">
            <input type="checkbox" name="BreakPoints"/>
            <label for="BreakPoints">Break Points</label>
            <input type="checkbox" name="Extremes" />
            <label for="Extremes">Extremes</label>
            <input type="checkbox" name="Asymptotes" />
            <label for="Asymptotes">Asymptotes</label>
            <input type="checkbox" name="Monotone" />
            <label for="Monotone">Monotone</label>
            <input type="checkbox" name="InflectionPoints" />
            <label for="InflectionPoints">Inflection Points</label>
        </form>
    </div>
    <div id="in-row-container">
        <div class="history-list-container container">
            <label class="container-title">History</label>
            <select id="history-list" multiple ondblclick="return historyDoubleClick(event)">
                <option> Pow(x,2) </option>
                <option> Cos(x) </option>
            </select>
        </div>
        <div id="container-holder">
            <div id="message-container" class="container error-message"></div>
            <div id="chart-container" class="container"></div>
        </div>
    </div>
</div>