body {
}

.center {
    margin: auto;
    width: 50%;
    position: relative;
    top: 50%;
}

.input-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-elem {
    display: inline-block;
    vertical-align: middle;
}

.input-elem-trebuchet {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 16px;
    line-height: 26px;
}

.input-button {
    display: inline-block;
    border: 2px solid #555;
    padding: 12px 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.input-button:hover {
    background-color: #555;
    color: white;
}

.input-field {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 8px 8px 0px;
    box-sizing: border-box;
    border: 2px solid #555;
    border-radius: 4px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
}

.range-field {
    max-width: 15%;
    padding: 12px 8px 12px 8px;
}

.container {
    width: 100%;
    border: 2px solid #555;
    border-radius: 4px;
}

.error-message {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    color: red;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.analysis-options-container {
    margin-bottom: 8px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#analysis-options {
    display: inline-block;
}

#in-row-container {
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: revert;
    align-items: stretch;
}

.history-list-container {
    width: 35%;
    margin-right: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.container-title {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin: 10px;
    display: inline-block;
}

#history-list {
    font-family: 'Trebuchet MS', sans-serif;
    border: 0;
    width: 100%;
    height: 100%;
    display: block;
    overflow: auto;
}

    #history-list option {
        padding: 5px 15px;
    }

#container-holder {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#message-container {
    margin-bottom: 5px;
    display: none;
}

#chart-container {
    height: 100%;
}