body {
}

.center {
    margin: auto;
    width: 50%;
    position: relative;
    top: 50%;
    padding: 10px;
}

.input-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-elem {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.input-elem-trebuchet {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 16px;
    line-height: 26px;
}

.input-button {
    display: inline-block;
    border: 2px solid #555;
    padding: 12px 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.input-button:hover {
    background-color: #555;
    color: white;
}

.input-field {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #555;
    border-radius: 4px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

.container {
    width: 100%;
    border: 2px solid #555;
    border-radius: 4px;
}

.error-message {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: red;
}

#message-container {
    margin-bottom: 5px;
}

#chart-container {
    height: 350px;
}